{% extends 'base.html.twig' %}

{% block bodyID %}product{% endblock %}

{% block body %}
    <main>
        <div class="product">
            <div class="container">
                <br/>
                <br/>
                <a href="{{ path('index') }}" class="pad-10 dark-grey">
                    <i class="fas fa-angle-left"></i>
                    Retour au créations</a>
                <br/>
                <div class="md-5 pictures marg-top-50">
                    <img class="principal" src="{{ asset('assets/img/products/' ~ product.photos[0]) }}" alt="">
                    <br/>
                    <br/>
                    {% for photo in product.photos[1:] %}
                        <img src="{{ asset('assets/img/products/' ~ photo) }}" alt=""/>
                    {% endfor %}
                </div>
                <div class="md-7 description marg-top-50{% if product.surmesure == true %} on-sale{% endif %}">
                    <h2 class="ft-s-30 ft-w-100 primary title">{{ product.titre }}</h2>
                    <br/>
                    <div class="ft-s-15 ft-w-800 med-grey category">{{ product.gamme.nom }}</div>
                    <div class="ft-s-12 ft-w-800 grey composition">
                        {{ product.fil }}
                    </div>
                    <br/>
                    <br/>
                    <p class="ft-w-300 dark-grey">
                        {{ product.description|e('html')|raw }}
                    </p>
                    <hr/>
                    <table class="ft-w-800 dark-grey">
                        <tr>
                            <td>Catégorie</td>
                            <td class="grey pad">{{ product.gamme.nom }}</td>
                            <td class="pad">Metres fils</td>
                            <td class="grey">{{ product.taillefils }}m</td>
                        </tr>
                        <tr>
                            <td>Créé le</td>
                            <td class="grey pad">{{ product.date|date("d/m/Y") }}</td>
                            <td class="pad">Temps travail</td>
                            <td class="grey">{{ product.duree }}h</td>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td class="grey pad">{{ product.dimensions }}</td>
                            <td class="pad">{{ product.surmesure == true ? 'Disponible' : '' }}</td>
                            <td class="grey">{{ product.surmesure == true ? product.prix ~ '€' : '' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="sider">
            <a class="active" href=""><img src="{{ asset('assets/img/products/' ~ product.photos[0]) }}" alt=""></a>

            {% for productAll in products %}
                {% if productAll.id != product.id %}
                    {% if productAll.gamme.id == product.gamme.id %}
                        <a href="{{ path('creation', {id: productAll.id}) }}"><img src="{{ asset('assets/img/products/' ~ productAll.photos[0]) }}" alt=""/></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </main>
    {#
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            {% else %}
                                <a href="{{ path('app_login') }}">Se connecter</a>
                            {% endif %}
                            #}
{% endblock %}
