{% extends 'base.html.twig' %}

{% block title %}
    | Administration des Produits
{% endblock %}

{% block bodyClass %}admin
{% endblock %}

{% block body %}
    <main class="view-products-main">
        <div class="container marg-top-40">
            <h1 class="primary ft-s-15 ft-w-400 marg-bot-20">Liste des créations</h1>
            <a href="{{ path('product_new') }}" class="btn">
                <i class="fas fa-plus"></i>&nbsp; Créer un nouvel élément</a>

            <table class="table marg-top-20">
                <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th style="width: 150px;">Nom</th>
                        <th style="width: auto; min-width: 300px;">Description</th>
                        <th>Photos</th>
                        <th>Gamme</th>
                        <th>Fil</th>
                        <th>Dispo.</th>
                        <th>Prix</th>
                        <th class="invisible"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for product in products %}
                        <tr>
                            {#<td>{{ product.id }}</td>#}
                            <td class="titre">{{ product.titre }}</td>
                            <td class="description">{{ product.description }}</td>
                            <td>
                                {% for photos in product.photos %}
                                    <img src="{{ asset('assets/img/products/' ~ photos) }}" alt="">
                                {% endfor %}
                            </td>
                            {#<td>{{ product.Photos ? product.Photos|join(', ') : '' }}</td>#}
                            <td>{{ product.gamme ? product.gamme.nom : '' }}</td>
                            <td>{{ product.fil }}</td>
                            <td>{{ product.surmesure ? 'Oui' : 'Non' }}</td>
                            <td>
                                {{ product.surmesure ? product.prix ~ '€' : '' }}
                            </td>
                            <td class="invisible">
                                <a href="{{ path('product_show', {'id': product.id}) }}">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="{{ path('product_edit', {'id': product.id}) }}">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Pas de créations</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <a href="{{ path('gamme_index') }}" class="btn">Gammes</a>
        </div>
    </main>
{% endblock %}
